<!-- views/partials/header.ejs -->
<link rel="stylesheet" href="/css/styles.css">

<nav>
    <a href="/">Accueil</a>
    <a href="/books">Livres</a>
    <a href="/gallery">Galerie des couvertures</a>
    <a href="/login">Connexion</a>
    <a href="/register">Inscription</a>
    <a href="/contact">Contact</a>
</nav>
<br>