<!-- views/partials/header.ejs -->
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/login">Connexion</a></li>
        <li><a href="/register">Inscription</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
