<h1>Book List</h1>
<ul>
    <% books.forEach(book => { %>
        <li>
            <a href="/book/<%= book.id %>">
                <%= book.title %> - <%= book.author %>
            </a>
        </li>
    <% }) %>
</ul>
