* {
    font-family: "Arial";
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Empêche les débordements inattendus */
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur minimale à 100vh pour que le footer reste en bas */
}


h1 {
    text-align: center;
    padding: 30px;
}

.div-book {
    flex: 1; /* Prend l'espace disponible pour que le footer se place correctement en bas */
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    gap: 20px; /* Espace entre les colonnes */
    margin-top: 20px; /* Pour éviter le chevauchement avec la barre de navigation */
}

.box {
    flex: 1; /* Chaque colonne prend une part égale */
    padding: 40px 60px;
    border-radius: 12px;
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    color: black;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 8px;
}

nav {
    display: flex;
    gap: 60px;
    padding: 50px 70px;
    background-color: #16a085;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* Style de la box */
.box {
    background-color: white;
    border: 2px solid #16a085 ;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px; /* Augmentation de la largeur */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: black;
}

.box h2{
    padding-top: 72px;
}

h2.books {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

/* Title */
.title {
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    color: #2c3e50;
}

/* Book Info */
p {
    font-size: 1.1em;
    color: #555;
    margin: 5px 0;
}

/* Divider */
hr {
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Comments Section */
.comment {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.comment p {
    font-size: 1em;
    color: #333;
    margin: 10px 0;
}

.comment em {
    font-style: italic;
    color: #777;
}

/* Text Paragraphs */
.texte {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

button.detail {
    width: 10%;
    padding: 12px;
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}