<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <%- include('../partials/header'); %>

        <br>
        <h1>Contactez-nous</h1>

        <form action="/contact/submit" method="POST">
            <div>
                <label for="name">Nom :</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div>
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div>
                <label for="message">Message :</label>
                <textarea id="message" name="message" required></textarea>
            </div>

            <button type="submit">Envoyer</button>
        </form>

</body>

</html>