<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <%- include('../partials/header'); %>

        <br>
        <h1>Contact</h1>
        <form action="/contact" method="POST">
        
            <label for="email">Email :</label>
            <input type="email" name="email" required>
        
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" required>

            <label for="message">Message :</label>
            <input type="textarea" name="textarea">
        
            <button type="submit">Inscription</button>
        </form>
        <br>

</body>

</html>