<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <%- include('../partials/header'); %>

        <br>
        <br>
        <h1 class="title">Accueil</h1>
        <br>
        <br>

        <div class="box">
            
            <h2>Contexte Library</h2>
            <br>
            <br>
            <p>Je suis un webéditeur qui à pour but de récolter les avis des visiteurs de ce site sur des livres de Roal
                Dahl.</p>
            <br>
            <p>Pourquoi me diriez vous ?
                Et bien, c'est un écrivain que j'apprécie énormément car ces livres m'ont beaucoup bercé lors de ma
                jeunesse.</p>
            <br>
            <p>Ce site est en quelque sorte, un hommage à lui et à ses oeuvres.</p>
            <br>
            <p>Si vous souhaitez laisser un commentaire sur n'importe quel livre, veuillez vous connecter avant
                ou vous inscrire si ce n'est pas encore le cas.</p>
            <br>
            <p>En tout cas, j'espère que vous apprécierez cette petie visite !</p>

        </div>



        <%- include('../partials/footer'); %>

</body>

</html>