<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <%- include('../partials/header'); %>

        <br>
        <br>
        <h1 class="title">Accueil</h1>
        <br>
        <br>

        <div class="home">
            <div class="box2">
                
            </div>
        </div>

        <%- include('../partials/footer'); %>

</body>

</html>